{% extends 'catalog/index.html' %}
{% block title %}Книга: {{ book.title }}{% endblock %}
  {% block content %}
<div class="page_userProfile">
      <div class="card_userProfile">
        <img src="{{MEDIA_URL}}{{ book.image.url}}" />
      </div>
      <div class="blok2_userProfile">
        <div class="card2_userProfile">
          <div class="book_name_userProfile"><h2>{{ book.title }} {{ book.author }}</h2></div>
          <p class="title_userProfile">
            Жанры:{% for g in book.genre.all %} {{ g.genreName }}{% endfor %}
          </p>
          <p>
            {{book.summary}}
          </p>
          {% if request.user == book.owner %}
          <div class="knopki_userProfile">
            <form action="{% url 'catalog:updateBook' book.id %}"><button class="form_button">Изменить информацию о книге</button></form>
            <form action="{% url 'catalog:deleteBook' book.id %}"><button class="form_button">Удалить книгу</button></form>
          </div>
          {% else %}
          <div class="knopki_userProfile">
            <form action="{% url 'messenger:create_dialog' book.owner.id book.id %}"><button class="form_button">Написать владельцу книги</button></form>
            <form action="{% url 'catalog:profile' book.owner.id %}"><button class="form_button">Владелец книги</button></form>
          </div>
          {% endif %}
          <form action="{% url 'catalog:deleteBook' book.id %}"><button class="form_button">Написать рецензию об этой книге</button></form>
        </div>
        <h2>Отзывы</h2>
        {% if book.review %}
        {% for review in book.review.all %}
        {% include 'catalog/review-item.html' with review=review %}
        {% endfor %}
        {% else %}
        <p>Никто ещё не написал свою рецензию</p>
        {% endif %}
      </div>
    </div>
{% endblock %}