{% extends 'catalog/index.html' %}
{% block title %}Профиль {{user.username}}{% endblock %}
  {% block content %}
<div class="page_userProfile">
      <div class="card_userProfile">
        <img src="{{MEDIA_URL}}{{ book.image.url}}" />
      </div>
      <div class="blok2_userProfile">
        <div class="card2_userProfile">
          <div class="book_name_userProfile"><h2>{{ book.title }} {{ book.author }}</h2></div>
          <p class="title_userProfile">
            Жанры:{% for g in book.genre.all %} {{ g.genreName }}{% endfor %}
          </p>
          <p>
            {{book.summary}}
          </p>
          <div class="knopki_userProfile">
            <form action=""><button class="form_button">Написать владельцу книги</button></form>
            <form action=""><button class="form_button">Владелец книги</button></form>
          </div>
          <div class="knopki_userProfile">
            <form action=""><button class="form_button">Изменить информацию о книге</button></form>
            <form action=""><button class="form_button">Удалить книгу</button></form>
          </div>
        </div>
        <h2>Отзывы</h2>
        {% for review in book.review.all %}
        <div class="card2_userProfile">
          <p class="name_userProfile">{{review.critic.name}}</p>
          <p>
            {{review.text}}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}