{% extends "catalog/index.html" %}
{% load bootstrap3 %}
{% block title %}   Диалог   {% endblock %}
{% block content %}
    {% if not chat %}
        <div class="panel panel-body">
            Невозможно начать беседу.
        </div>
    {% else %}
        {% load tz %}
        {% if chat %}
<div class ="space1">
            <div class="container_trade">
          <div class="text">
                <img src="{{MEDIA_URL}}{{ chat.book.image.url}}" alt="bookPuc"/>
                <p class="book_name"><a href="{% url 'catalog:book' chat.book.id %}">{{ chat.book.title }}</a></p>
                <p class="book_author">Автор: {{ chat.book.author }}</p>
                <p class="book_genre"> Жанры:{% for g in chat.book.genre.all %}
                                    {{ g.genreName }}
                                {% endfor %}</p>
            </div>
                <form id="trade-form" method = "post" name="trade">
                    {% csrf_token %}
                    <button class="trade_button">Обменяться</button>
                </form>
        </div>
    </div>
            <div id="messages" class="panel">
                <div id="innerMessages">
                    {% for message in chat.message_set.all %}
                            {% include 'messenger/message.html' with message_item=message %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div id="footer">
            <form id="message-form" class="form-control col-8 col-sm-9 col-md-8" method="post" name="message">

                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" onclick="return ETextEditor.validateForm('message-form')"><span class="ico ico-comment"></span>Отправить</button>
            </form>
        </div>
    {% endif %}
{% endblock %}