{% url 'catalog:profile' message_item.author.username as the_user_url%}
{% load bootstrap3 %}
{% load tz %}
    <div class="container_message{% if not message_item.author == user %} darker {% endif %}">
        <a href="{% url 'catalog:profile' message_item.author_id%}"><img class="rounded-circle" src="{{ message_item.author.profile.image }}"></a>
        <div class="reply-body">
            <ul class="list-inline">
                <li class="drop-left-padding">
                    <strong class="list-group-item-heading"><a href="{% url 'catalog:profile' message_item.author_id%}">{{ message_item.author.username }}</a></strong>
                </li>
                <li class="pull-right text-muted"><small>{{ message_item.pub_date|localtime }}</small></li>
            </ul>
            <div>{{ message_item.message|safe }}</div>
        </div>
    </div>